@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

* {
    box-sizing:border-box; 
}

body {
    font-family:'Nunito','Pacifico', Arial, Verdana, sans-serif;
    text-align: center;
    color: #0e4437;
}

.carousel-inner {
    margin-top: 50px;
}

h3 {
    text-align: center;
}

.one,
.two,
.three {
    padding: 20px;
    margin: 0 20px;
}

.one, 
.two {
    text-align: justify;
}

.btn-lg {
    margin-bottom: 110px;
}

.tab-pane {
    padding: 10px;
}

.logo {
    font-family:'Pacifico';
}

.footer {
    font-family:'Nunito';
    background: #a7f4d3;
    height: 70px;
}
